recognition/ADNI_classification_49085949/result_record/earlystopping/small-in22k_best.pth
recognition/ADNI_classification_49085949/result_record/normal/small-in22k_best.pth
recognition/ADNI_classification_49085949/results/small-in22k_best.pth
